* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    
    

}

nav {
    flex: 1;
    text-align: right;

}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}


a {
    text-decoration: none;
    color: rgb(109, 13, 139);
}

p {
    color: rgb(9, 3, 15);
}

.container {
    max-width: 1300PX;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 70%;

    padding: 50px, 0;
}

.col-2 h1 {
    font-size: 50px;
    line-gap-override: 50px;
    margin: 25px, 0;
}

.btn {
    display: inline-block;
    background: rgb(217, 130, 239);
    color: rgb(47, 6, 86);
    padding: 8px, 30px;
    margin: 30px, 0;
    border-radius: 30px;
    transition: background 0.5s;

}

.btn:hover {
    background: #cb3fdd;
}

.header {
    background: radial-gradient(#e9a3f2, #f9f4fa);
}

.header.row {
    margin-top: 50px;
}

/*-----categories*/

.Categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;

}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transfrom 0.5s;
}

.col-4 img {
    width: 100%;
}

.Title {
    text-align: center;
    margin: 0 auto 80 px;
    position: relative;
    line-height: 60px;
    color: rgb(64, 3, 121);
}

.Title::after {
    content: '';
    background: rgb(192, 20, 160);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

}

.h4 {
    color: rgb(221, 68, 200);
    font-weight: normal;

}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*offer----------*/

.offer {
    background: radial-gradient(#b443c3, #f9f4fa);
    margin-top: 80px;
    padding: 30px, 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: rgb(109, 14, 109);
}



/*-----footer*/

.footer {
    background: #000;
    color: rgb(148, 104, 189);
    font-size: 14px;
    padding: 60px 0 20px;


}

.footer p {
    color: rgb(148, 104, 189);
}

.footer h3 {
    color: rgb(148, 104, 189);
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 1;
    text-align: center;

}

.footer-col-1 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer hr {
    border: none;
    background: blueviolet;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*-------media query for menu---*/

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #f2bdf6;
        width: 100%;
        overflow: hidden;
        transition: max-Height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: white;
    }

    .menu-icon {
        display: block;
        cursor: pointer;

    }
}










/*media query for less than 600  scren size*/
@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .single-product .row{
        text-align:left;
    }
    .single-product .col-2{
        padding:20px 0;
    }
    .single-product h1{
        font-size:26px;
        line-height: 32px;
        
    }
    .cart-info p{
        display:none;
    }
}