.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
    justify-content: space-between;
}


.box {
    width: 20%;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.box p {
    margin: 10px 0;
}

.box p span {
    font-weight: bold;
    color: #333;
}
.box form{
    text-align: center;;
}

.box form select {

    border-radius: .5rem;
    margin: .5rem 0;
    width: 100%;
    background-color: var(--light-bg);
    border: var(--border);
    padding: 1rem 1rem;
    font-size: 1.3rem;
    color: var(--black);

}