.group {
    width: 30%;

}

.small-container {


    background: #fff;
    height: 700px;
    padding: 1.5rem;
    margin: 50px auto;

    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(93, 59, 99, 0.6);
    align-items: center;
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
}


body {
    font-family: sans-serif;
}

input[type="text"],
input[type="username"],
input[type="password"],

select {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 2px;

}